@model IdentityServer.ViewModels.RegisterViewModel

<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div>
        <label>Username</label>
        <input asp-for="Username"/>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
    </div>
    <div>
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword"/>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<a asp-controller="Auth" asp-action="Login" asp-route-ReturnUrl="@Model!.ReturnUrl">Back To Login</a>